h1 {
  color: burlywood;
  text-align: center;
}

.grid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: cornflowerblue;
  padding: 0px;

}

.eachBox{
  background: lightblue;
  border:solid black;
  text-align: center;
  font-size: 200px;
  cursor: pointer;
  height: 250px;
  width: 250px;
  margin: 0px;

}
.eachBox:hover{
  background-color: white;
}

button{
  cursor: pointer;
}
