body {
  text-align: center;
  margin: 0;
}

.board {
  width: 100vw;
  height: 50vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.spot {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 90px;
}